In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import os, sys
import pickle

In [ ]:
# Each time that you initialize Dagster a new temporary folder is created.
# For the porpuse of this exercise we will save data in that temporary folder.
# Substitute tmpy4b4f097 with your current folder.
dir = "../tmpy4b4f097/storage/"
targ_file = "df_input_raw"

In [4]:
def load_artifact(targ_file:str):
    targ_path = os.path.join(dir,targ_file)

    with open(targ_path,'rb') as fp:
        test_artifact = pickle.load(fp)

    return test_artifact

In [5]:
df_input_raw = load_artifact(targ_file)
df_input_raw

,rating_account_id,customer_id,age,contract_lifetime_days,remaining_binding_days,has_special_offer,is_magenta1_customer,available_gb,gross_mrc,smartphone_brand,...,n_cases,days_since_last_case,n_case_produkte&services-tarifdetails,n_case_produkte&services-tarifwechsel,n_case_rechnungsanfragen,n_case_vvl,days_since_last_case_produkte&services-tarifdetails,days_since_last_case_produkte&services-tarifwechsel,days_since_last_case_rechnungsanfragen,days_since_last_case_vvl
0,802367,1.926019,41,958,-134,1,0,None,34.18,iPhone,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,784866,2.769034,36,328,-51,0,0,0,11.63,Samsung,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,632672,4.548302,37,481,94,1,0,20,66.02,Huawei,...,4.0,23.0,2.0,0.0,1.0,1.0,23.0,NaN,165.0,157.0
3,619327,4.962137,36,767,-1,0,0,30,23.57,OnePlus,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,579499,3.364024,52,370,-131,1,1,50,11.63,iPhone,...,3.0,36.0,0.0,0.0,0.0,3.0,NaN,NaN,NaN,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,443276,3.473745,82,1302,641,1,1,30,63.37,Samsung,...,4.0,135.0,0.0,2.0,0.0,2.0,NaN,135.0,NaN,143.0
99996,607348,1.430108,79,1401,-371,0,0,0,36.84,iPhone,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99997,398175,2.999901,89,1611,-449,1,0,0,48.78,iPhone,...,1.0,19.0,0.0,1.0,0.0,0.0,NaN,19.0,NaN,NaN
99998,636150,2.553059,98,1239,-90,1,1,None,24.90,Samsung,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99999,133908,5.223800,96,1525,-432,0,0,30,62.04,iPhone,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_input_raw.columns

Index(['rating_account_id', 'customer_id', 'age', 'contract_lifetime_days',
       'remaining_binding_days', 'has_special_offer', 'is_magenta1_customer',
       'available_gb', 'gross_mrc', 'smartphone_brand', 'has_churned',
       'has_used_roaming', 'used_gb', 'has_used_gb', 'n_cases',
       'days_since_last_case', 'n_case_produkte&services-tarifdetails',
       'n_case_produkte&services-tarifwechsel', 'n_case_rechnungsanfragen',
       'n_case_vvl', 'days_since_last_case_produkte&services-tarifdetails',
       'days_since_last_case_produkte&services-tarifwechsel',
       'days_since_last_case_rechnungsanfragen', 'days_since_last_case_vvl'],
      dtype='object')